{
	"plugins": ["jest"],

	"rules": {
		"jest/no-disabled-tests": "warn",
		"jest/no-focused-tests": "error",
		"jest/no-identical-title": "error",
		"jest/prefer-to-have-length": "warn",
		"jest/valid-expect": "error",
		"indent": ["error", 2]
	},
	"env": {
		"jest/globals": true
	},
	"settings": {
		"jest": {
			"globalAliases": {
				"describe": ["context"],
				"fdescribe": ["fcontext"],
				"xdescribe": ["xcontext"],

				"globalPackage": "bun:test",
				"version": 27
			}
		}
	},
	"extends": ["eslint:recommended"],
	"overrides": [
		{
			"files": ["test/**"],
			"plugins": ["jest"],
			"extends": ["plugin:jest/recommended"],
			"rules": { "jest/prefer-expect-assertions": "off" }
		}
	]
}
